
BODY {
	font-family: sans-serif;
}

#logo {
	background-color: #f0f0f0;
	background-image: url(simcir.png);
	width: 48px;
	height: 48px;
	vertical-align: middle;
	display: inline-block;
}

#flashContent {
	display: none;
}
