__pycache__
*.pyc
built/*
build_info
sphinx-enki-info.txt
sphinx_settings.json
output
.vscode
pretext/generated
pretext/_old
*.bak
Thumbs.db
output
build
cli.log
.error_schema.log
logs
codechat_config.yaml